{% extends "base.html"%}
{% block title %}projects{% endblock %}
{% block content %}

<div>
	<div class="container mt-5">
		<h2 class='text-center'>Projects</h2>
		<div class='mt-4'>
			<h4>Computer Vision</h4>
			<div style="background-color: #FAF9F6; padding: 50px;">
			<ul>
			
				<li>Multi-modal LLM</li>
				<div>
					<ul>
					<li> Focus on multi-modality in large language models.</li>
					<li> Focus on integrating visual data with other modalities.</li>
					</ul>
				</div>
				<br>
				<li>Traffic Sign Detection</li>
				<div>
					<ul>
					<li> Detect and Recognize traffic signs from images.</li>
        				<li> Focus on reducing the memory size of the model.</li>
					<ul>
			     	</div>
				<br>
				<li>Scene Text Recognition</li>
				<div>
					<ul>
						<li> Recognize text content from natural images.</li>
        					<li> Focus on extracting and utilizing low-level features.</li>
					</ul>
			     	</div>
				<br>
				<li>Personal Information Detection and Deletion System</li>
				<div>
					<ul>
						<li> Face detection/recognition and detecting personal information leakage.</li>
        					<li> Web crawling and web application development.</li> 
        					<li> Focus on extracting and utilizing low-level features.</li>
			     		</ul>
			     	</div>
			</ul>
			</div>
		</div>
		<div class='mt-4'>
                        <h4>Recomendation</h4>
                        <div style="background-color: #FAF9F6; padding: 50px;">
			<ul>
				<li> Movie Recommendation System </li>
					<div>
						<ul>
                                        	<li> Develop a web application.</li>
                                        	<li> Recommend a movie based on emotion.</li>
                                        	</ul>
                                	</div>

			</ul>
		</div>


	</div>	
</div>
{% endblock %}
