{% extends "base.html" %}
{% block title %}Publications{% endblock %}

{% block content %}
<div class="container mt-5">
  <h2 class="text-center">Publications</h2>

  <!-- Journal Publications -->
  <div class="mt-4">
    <h4>📘 Journal Publications</h4>
    <ul class="list-group">
      {% for journal in journals %}
        <li class="list-group-item">{{ journal }}</li>
      {% endfor %}
    </ul>
  </div>

  <!-- Conference Publications -->
  <div class="mt-5">
    <h4>🎤 Conference Publications</h4>
    <ul class="list-group">
      {% for conf in conferences %}
        <li class="list-group-item">{{ conf }}</li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}

